[submodule "lib/SimulationCore"]
	path = lib/SimulationCore
	url = https://github.com/cogsys-tuebingen/SBSCL.git
[submodule "lib/libSBMLsim"]
	path = lib/libSBMLsim
	url = https://github.com/libsbmlsim/libsbmlsim.git
[submodule "WebContent/ScrollTrigger"]
	path = WebContent/ScrollTrigger
	url = https://github.com/terwanerik/ScrollTrigger.git
