@CHARSET "UTF-8";

/* title header of 3 CSS*/
h3 { padding-top : 10px;
	 padding-left:10px;
}

/* input's CSS */
input[type=number], textarea {
  text-align :center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Drop down menu CSS*/
.dropdown-menu{
	background:white; 
	color:black; 
}

/* Navigation bar CSS */
.nav-item { border : solid 1px;}
.navbar { padding : 0 0 0 0 !important;
		  border : solid 1px;
}
/* Tab CSS */
.tabResult { border : solid 1px;}
.tab-content { border : solid 1px;}

/* Canvas of graph CSS*/
.graph-contents { display : inline-block;
				  vertical-align : top;
				  margin : 5px;
}