@CHARSET "UTF-8";
input[type=number], textarea {
  text-align :center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
.dropdown-menu{
	background:white; 
	color:black; 
}

#setting { border : solid 1px;
		   margin : 10px;
}
#model-upload , #paraFile , #exp-upload , #expData { display : inline-block;}
#canvas_item { width : 10%;
			   margin : auto;
}

#result-container {
	border : solid 1px;
	margin : 10px;
}
.nav-item { border: solid 1px;}
#numTable { height : auto;
			overflow : scroll;
}
#graph-contents { border : solid : 1px;
}
#tabParameter { height : 35em;
				overflow : scroll;
}
#before-graph , #after-graph { width : auto;
							   height : 33em;
}