@CHARSET "UTF-8";
#setting { border : solid 1px;}
#model-upload , #paraFile , #exp-upload , #expData { display : inline-block;}
#canvas_item { width : 10%;
			   margin : auto;
}

.tabResult { border : solid 1px;
			 width : 90%;
			 margin : auto;
}
.nav-item { border: solid 1px;}
#numTable { height : auto;
			overflow : scroll;
}
#beforeCanvas , #afterCanvas { display : block;
							   width : auto;
							   height : auto;
}