@CHARSET "UTF-8";

input[type=number], textarea {
  text-align :center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
#setting { border : solid 1px;
    	   position : relative;
    	   margin : 10px;
}
#setting p{ font-size : 15px;
			margin-left : 10px;
}
#part-execution { margin-top : 5px;
				  margin-left : 10px;
}
.nav-item { border : solid 1px;}
#result-container {
	margin : 10px;
}
.tabResult { border : solid 1px;}
.tab-content { border : solid 1px;}
#graph input { display : inline-block;}
.graph-contents { display : inline-block;
				  vertical-align : top;
				  margin : 5px;
}
#graph-contents { height : 35em;
				  border : solid : 1px;
}
#canvas { width : 100%;
		  height : 33em;
}
.navbar { padding : 0 0 0 0 !important;
}
#tabParameter { height : 35em;
				margin : 0;
				overflow : scroll;
}
#tabParameter li{ padding-left : 0;
				  padding-right : 0;
				  margin-left : 0;
				  margin-right : 0;
}
#initialValue-slider , #localParam-slider , #globalParam-slider { overflow : scroll;																  height : 31em;
}
#numTable { overflow : scroll;
			height : 35em
}