@CHARSET "UTF-8";
h3 { padding-top : 10px;
	 padding-left:10px;
}
input[type=number], textarea {
  text-align :center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 0px 0px 3px 3px;
  margin: 0px 0px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
#setting { border : solid 1px;
    	   position : relative;
    	   right : 20px;
    	   left : 20px;
}
#setting p{ font-size : 15px;
			margin-left : 10px;
}
#file-upload , #stedFile { display : inline-block; }
#set-library , #library { display : inline-block;}
#set-resolution , #resolution {display : inline-block;}
#set-derivationfactor , #derivation { display : inline-block;}
#set-iterationlimit , #itelimit { display : inline-block;}

.nav-item { border : solid 1px;}
.tabResult { border : solid 1px;
			 width : 90%;
			 height : 20em;
			 margin : auto;
}
#stedAmound { overflow : scroll;
}
#jacobian { overflow : scroll;
}