<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GSOC_WebMavenProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Simulation_Servlet</display-name>
    <servlet-name>Simulation_Servlet</servlet-name>
    <servlet-class>servlet.Simulation_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Simulation_Servlet</servlet-name>
    <url-pattern>/Simulation_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SteadyState_Servlet</display-name>
    <servlet-name>SteadyState_Servlet</servlet-name>
    <servlet-class>servlet.SteadyState_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SteadyState_Servlet</servlet-name>
    <url-pattern>/SteadyState_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParameterEstimation_Servlet</display-name>
    <servlet-name>ParameterEstimation_Servlet</servlet-name>
    <servlet-class>servlet.ParameterEstimation_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterEstimation_Servlet</servlet-name>
    <url-pattern>/ParameterEstimation_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BioModels_ModelExtraction</display-name>
    <servlet-name>BioModels_ModelExtraction</servlet-name>
    <servlet-class>servlet.BioModels_ModelExtraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioModels_ModelExtraction</servlet-name>
    <url-pattern>/BioModels_ModelExtraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BioModels_ModelSBMLExtraction</display-name>
    <servlet-name>BioModels_ModelSBMLExtraction</servlet-name>
    <servlet-class>servlet.BioModels_ModelSBMLExtraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioModels_ModelSBMLExtraction</servlet-name>
    <url-pattern>/BioModels_ModelSBMLExtraction</url-pattern>
  </servlet-mapping>
</web-app>