<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GSOC_WebMavenProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BioModels_ModelExtraction</display-name>
    <servlet-name>BioModels_ModelExtraction</servlet-name>
    <servlet-class>servlet.BioModels_ModelExtraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioModels_ModelExtraction</servlet-name>
    <url-pattern>/BioModels_ModelExtraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BioModels_ModelSBMLExtraction</display-name>
    <servlet-name>BioModels_ModelSBMLExtraction</servlet-name>
    <servlet-class>servlet.BioModels_ModelSBMLExtraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioModels_ModelSBMLExtraction</servlet-name>
    <url-pattern>/BioModels_ModelSBMLExtraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BioModels_ModelRefresh</display-name>
    <servlet-name>BioModels_ModelRefresh</servlet-name>
    <servlet-class>servlet.BioModels_ModelRefresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioModels_ModelRefresh</servlet-name>
    <url-pattern>/BioModels_ModelRefresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SBMLModelView</display-name>
    <servlet-name>SBMLModelView</servlet-name>
    <servlet-class>servlet.SBMLModelView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SBMLModelView</servlet-name>
    <url-pattern>/SBMLModelView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Producer</display-name>
    <servlet-name>Producer</servlet-name>
    <servlet-class>servlet.rabbitmq.Producer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Producer</servlet-name>
    <url-pattern>/Producer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisConsumer1</display-name>
    <servlet-name>AnalysisConsumer1</servlet-name>
    <servlet-class>servlet.rabbitmq.AnalysisConsumer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisConsumer1</servlet-name>
    <url-pattern>/AnalysisConsumer1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisConsumer2</display-name>
    <servlet-name>AnalysisConsumer2</servlet-name>
    <servlet-class>servlet.rabbitmq.AnalysisConsumer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisConsumer2</servlet-name>
    <url-pattern>/AnalysisConsumer2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisConsumer3</display-name>
    <servlet-name>AnalysisConsumer3</servlet-name>
    <servlet-class>servlet.rabbitmq.AnalysisConsumer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisConsumer3</servlet-name>
    <url-pattern>/AnalysisConsumer3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisConsumer4</display-name>
    <servlet-name>AnalysisConsumer4</servlet-name>
    <servlet-class>servlet.rabbitmq.AnalysisConsumer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisConsumer4</servlet-name>
    <url-pattern>/AnalysisConsumer4</url-pattern>
  </servlet-mapping>
</web-app>